* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #111;
}

.splash-screen {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: #222; 
    z-index: 999;
    opacity: 1;
    transition: opacity 0.5s ease; 
}

.splash-screen h1 {
    font-size: 150px; 
    animation: fadeInUp 1s forwards;
}

.splash-screen p {
    font-size: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
}
nav a {
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
}

.language-switch {
    font-weight: bold;
}

.hero {
    position: relative;
    text-align: center;
    padding: 100px 20px;
}

.hero-text {
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: opacity 0.3s ease; 
}

.hero-text h1 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

.background-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    opacity: 0.7;
    z-index: 1;
}
.img-container:hover {
    opacity: 0.5;
}
.img1 {
    position: absolute;
    top: 25%; 
    left: 55%; 
    width: 80%;
    max-width: 350px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.img2 {
    position: absolute;
    top: 40%; 
    left: 15%;
    width: 80%;
    max-width: 350px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: left 0.1s ease, top 0.1s ease;
}

.img3 {
    position: absolute;
    top: 200%;   
    left: 15%; 
    width: 80%;
    max-width: 350px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: left 0.1s ease, top 0.1s ease;
}

.img4 {
    position: absolute;
    top: 150%; 
    left: 55%;
    width: 80%;
    max-width: 350px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: left 0.1s ease, top 0.1s ease;
}

.background-images img {
    transition: transform 0.3s ease;
}

.background-images img:hover {
    transform: translate(-10px, -10px);
}

.background-images img:hover ~ .hero-text {
    opacity: 0.3;
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 32px;
    }
    .background-images {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
